{% extends 'wrapper.html'%}
{% load static %}
{% block title %}
<title>{{ category }} yangiliklari</title>
{% endblock %}
{% block meta %}
 <meta name="description" content="{{ category }} yangiliklari,Янгиликлар ,xabarlar">
 {% endblock %}
{% block content %}
<section id="category_section" class="category_section">
<div class="container">
<div class="row">
<div class="col-md-8">

<!-- Mobile News Section -->

<div class="category_section tablet">
    <div class="article_title header_pink">
        <h2><a href="{{ category.get_absolute_url}}" target="_self">{{ category }}</a></h2>
    </div>
    <!-- Mobile News Section -->

    <div class="category_article_wrapper">
        <div class="row">
            {% if news %}
            {% for n in  news %}
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="{{ n.get_absolute_url}}" target="_self"><img class="img-responsive" src="{{ n.image_one.url }}"
                                                                   alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag pink"><a href="{{ n.category.get_absolute_url }}" target="_self">{{ n.category }}</a></span>

                    <div class="category_article_title">
                        <h2><a href="{{ n.get_absolute_url }}" target="_self">{{ n }} </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="{{ n.get_absolute_url}}">{{ n.reg_data}}</a>, Qo'shdi: <a href="#">{{ n.added }}</a></div>
                    <!----article_date------>
                    <!-- article_date -->

                    <div class="category_article_content">
                       {{ n.description|truncatewords:15}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{ n.shared}} </a> Ulashildi</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">{{ n.comment }}</a> Muxokamalar</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <div class="text-center">
                    <div class="alert alert-warning">
                        <h3>Xozircha yangliklar topilmadi</h3>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- col-md-6 -->


        </div>
        <br>
        <!-- row -->








<!-- Tablet News Section -->


           
            <!-- top_article_img -->

        <!-- top_article_img -->

    <!-- top_article_img -->

    

<!-- Design News Section -->
</div>
</div>

<div id="carousel" class="carousel slide hidden-md hidden-lg" data-ride="carousel">
  <div class="carousel-inner">
    
    {% for s in slider %}

    <div   {% if forloop.first %}class="item active" {% else %}class="item"{% endif %} style="position:;">
        <div class="carousel-caption">
           <p class=""><a href="{{ s.get_absolute_url}}">{{ s.title|truncatewords:10}}</a><br>
            <small style="color:white;">{{ s.added }} ,{{ s.reg_data }}</small>
           </p>
        </div>
    <a href="{{ s.get_absolute_url}}"> <img src="{{ s.image_one.url }}" alt="..."></a>
    </div>
 
 

    {% endfor %}
    
    <a class="left carousel-control" style="margin-top:100px;" href="#carousel" role="button" data-slide="prev">
    <span class="fa fa-arrow-left" aria-hidden="true"></span>
    <span class="sr-only">prev</span>
  </a>
  <a class="right carousel-control" style="margin-top:100px;" href="#carousel" role="button" data-slide="next">
    <span class="fa fa-arrow-right" aria-hidden="true"></span>
    <span class="sr-only">next</span>
  </a>
</div>
<br><br>
    </div>
</div>
<!-- Left Section -->

<div class="col-md-4">
<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">Boshqa yangliklar</a></h2>
    </div>
    {% if popular %}
    {% for n in popular %}
   <div class="media">
                    <div class="media-left">
            <a href="{{ n.get_absolute_url}}"><img class="media-object" src="{{ n.image_one.url}}"
                                       width="125" height="125" alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <a href="{{ n.category.get_absolute_url}}"><span class="tag purple">{{ n.category }}</span></a>

                        <h3 class="media-heading"><a href="{{ n.get_absolute_url}}" target="_self">{{ n.description|truncatewords:15}}</a></h3>
                        <span class="media-date"><a href="{{ n.get_absolute_url}}">{{ n.reg_data}}</a>, Qo'shdi: <a href="#">{{ n.added }}</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{ n.shared }}</a> Ulashildi</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>{{ n.comment}}</a> Muxokamalar</span>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else  %}
                        <div class="col-md-12">
                <div class="text-center">
                    <div class="alert alert-warning">
                        <h3>Xozircha yangliklar topilmadi</h3>
                    </div>
                </div>
            </div>
            {% endif %}

    <p class="widget_divider"><a href="#" target="_self"></a></p>
</div>
<!-- Popular News -->

<div class="widget hidden-xs m30">
    <img class="img-responsive adv_img" src="assets/img/right_add1.jpg" alt="add_one">
    <img class="img-responsive adv_img" src="assets/img/right_add2.jpg" alt="add_one">
    <img class="img-responsive adv_img" src="assets/img/right_add3.jpg" alt="add_one">
    <img class="img-responsive adv_img" src="assets/img/right_add4.jpg" alt="add_one">
</div>
<!-- Advertisement -->

<div class="widget hidden-xs m30">
    <img class="img-responsive widget_img" src="assets/img/right_add5.jpg" alt="add_one">
</div>
<!-- Advertisement -->

<div class="widget reviews m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Ko'p ko'rilgan xabarlar</a></h2>
    </div>
    {% if reviews %}
    {% for n in reviews %}
   <div class="media">
                    <div class="media-left">
            <a href="{{ n.get_absolute_url }}"><img class="media-object" src="{{ n.image_one.url}}"
                                       width="125" height="125" alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">{{ n.category }}</span>

                        <h3 class="media-heading"><a href="{{ n.get_absolute_url }}" target="_self">{{ n.description|truncatewords:15}}</a></h3>
                        <span class="media-date"><a href="{{ n.get_absolute_url }}">{{ n.reg_data}}</a>, Qo'shdi: <a href="#">{{ n.added }}</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Ulashildi</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Muxokama qilindi</span>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else  %}
                        <div class="col-md-12">
                <div class="text-center">
                    <div class="alert alert-warning">
                        <h3>Xozircha yangliklar topilmadi</h3>
                    </div>
                </div>
            </div>
            {% endif %}

    <p class="widget_divider"><a href="#" target="_self"></a></p>
</div>
<!-- Reviews News -->

<div class="widget hidden-xs m30">
    <img class="img-responsive widget_img" src="assets/img/right_add6.jpg" alt="add_one">
</div>
<!-- Advertisement -->

<div class="widget m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Ko'p muxokama qilindi</a></h2>
    </div>
    {% if reviews %}
    {% for n in reviews %}
   <div class="media">
        <div class="media-left">
            <a href="{{ n.get_absolute_url }}">
            <img class="media-object" src="{{ n.image_one.url}}"
                                       width="125" height="125" alt="Generic placeholder image">
                                   </a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">{{ n.category }}</span>

                        <h3 class="media-heading"><a href="{{ n.get_absolute_url }}" target="_self">{{ n.description|truncatewords:15}}</a></h3>
                        <span class="media-date"><a href="{{ n.get_absolute_url }}">{{ n.reg_data}}</a>, Qo'shdi: <a href="#">{{ n.added }}</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Ulashildi</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Muxokama qilindi</span>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else  %}
                        <div class="col-md-12">
                <div class="text-center">
                    <div class="alert alert-warning">
                        <h3>Xozircha yangliklar topilmadi</h3>
                    </div>
                </div>
            </div>
            {% endif %}

    <p class="widget_divider"><a href="#" target="_self"> </a></p>
</div>
<!-- Most Commented News -->


<!-- Editor News -->

<!--Advertisement -->


<!--  Readers Corner News -->


<!--Advertisement-->
</div>
<!-- Right Section -->

</div>
<!-- Row -->

</div>
<!-- Container -->

</section>
<!-- Category News Section -->


<!-- Video News Section -->
{% endblock %}